<div class="buttonContainer">
	<a id="start" href class="ion-plus-circled" ng-click="game.restart()"></a>
	<span ng-show="game.profile" class="negative" ng-click="update(-game.profile.smallIncrement)">{{game.profile.smallIncrement}}</span>
	<span ng-show="game.profile" class="negative" ng-click="update(-game.profile.largeIncrement)">{{game.profile.largeIncrement}}</span>
	<span ng-show="game.profile" ng-click="update(game.profile.smallIncrement)">{{game.profile.smallIncrement}}</span>
	<span ng-show="game.profile" ng-click="update(game.profile.largeIncrement)">{{game.profile.largeIncrement}}</span>
	<a id="addPlayer" href class="ion-person-add" ng-click="game.addPlayer()"></a>
</div>